.back {
    background-color: #f0ece5;
    height: 490px;
}

.card1 {
    overflow: hidden;
    height: 200px;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 30%;
    border-radius: 10px 10px 0 0;
  }
  
  .h1 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    padding-top: 60%;
    top: 110px;
    z-index: 1;
  }
  
  .h2 {
    margin-top: 10px;
    border: none;
    padding-left: 150px;
    border-radius: 30px;
    height: 40px;
    width: 85px;
    font-family: "a11";
  }
  